<!DOCTYPE HTML>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Canvas Course Request - Success</title>
</head>

<body>

<div layout:fragment="content">
    <h1 id="ui-id-1" class="rvt-ts-32 rvt-p-tb-sm" th:text="#{start.new.course}">Start A New Course</h1>
    <div class="rvt-alert rvt-alert--success rvt-m-bottom-md rvt-width-xl" role="alertdialog" aria-labelledby="success-alert-title">
        <p class="rvt-alert__message" th:utext="#{success.info}" id="success-alert-title">Success: Your course has been successfully created!</p>
    </div>
    <div>
        <dl>
            <dt th:text="#{success.course.name}">Course Name:</dt>
            <dd th:text="${courseName}">IN INFO PROJECT MANAGEMENT 101</dd>
            <dt th:text="#{success.short.name}">Short Name:</dt>
            <dd th:text="${shortName}">PROJECT MANAGEMENT 101</dd>
            <dt th:text="#{success.content.license}">Content License:</dt>
            <dd th:text="${license}">Public</dd>
            <dt th:if="${accountName != null}" th:text="#{success.department.school.college}">Department, School, or College:</dt>
            <dd th:if="${accountName != null}" th:text="${accountName}">IN-INFO</dd>
            <dt th:text="#{success.link}">Link:</dt>
            <dd><a th:href="${url}" th:text="${url}" target="_blank">URL for course</a></dd>
            <dt th:text="#{success.teacher}">Teacher:</dt>
            <dd th:text="${displayName}">Jane Smith</dd>
            <dt th:text="#{success.end.date}">End Date:</dt>
            <dd th:text="${endDate}">7/13/2016</dd>
        </dl>
    </div>
    <div class="rvt-alert rvt-alert--info rvt-m-top-md rvt-width-xl" role="alertdialog" aria-labelledby="information-alert-title">
        <p class="rvt-alert__message" th:utext="#{success.active.info}" id="information-alert-title">
            This course will remain active for one year.  For information on how to extend the end date, see link
        </p>
    </div>
</div>
</body>
</html>
