<!DOCTYPE HTML>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Canvas Course Request - Success</title>
</head>

<body>

<div layout:fragment="content">
    <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-dialog-buttons siterequest-style" tabindex="-1" aria-hidden="false" role="main">
        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
          <h1><span id="ui-id-1" class="ui-dialog-title" th:text="#{start.new.course}">Start A New Course</span></h1>
        </div>

        <div class="content-box">
            <div class="alert alert-success alert-style">
                <p th:utext="#{success.info}">Success: Your course has been successfully created!</p>
            </div>
            <div>
                <dl class="dl-horizontal">
                    <dt th:text="#{success.course.name}">Course Name:</dt>
                    <dd th:text="${courseName}">IN INFO PROJECT MANAGEMENT 101</dd>
                    <dt th:text="#{success.short.name}">Short Name:</dt>
                    <dd th:text="${shortName}">PROJECT MANAGEMENT 101</dd>
                    <dt th:text="#{success.content.license}">Content License:</dt>
                    <dd th:text="${license}">Public</dd>
                    <dt th:if="${accountName != null}" th:text="#{success.department.school.college}">Department, School, or College:</dt>
                    <dd th:if="${accountName != null}" th:text="${accountName}">IN-INFO</dd>
                    <dt th:text="#{success.link}">Link:</dt>
                    <dd><a th:href="${url}" th:text="${url}" target="_blank">URL for course</a></dd>
                    <dt th:text="#{success.teacher}">Teacher:</dt>
                    <dd th:text="${displayName}">Jane Smith</dd>
                    <dt th:text="#{success.end.date}">End Date:</dt>
                    <dd th:text="${endDate}">7/13/2016</dd>
                </dl>
            </div>
            <div class="pad-box">
                <p th:utext="#{success.acitve.info}">This course will remain active for one year.  For information on how to extend the end date, see link</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
