<!DOCTYPE HTML>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Canvas Course Request - Error Page</title>
</head>

<body>

<div layout:fragment="content">
    <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-draggable ui-dialog-buttons siterequest-style" tabindex="-1" aria-hidden="false">
        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
            <h1><span id="ui-id-1" class="ui-dialog-title" th:text="#{partial.fail.error}">Canvas Site Request Error</span></h1>
        </div>

        <div class="content-box">
            <div class="alert alert-error" th:if="${notTeacher}">
                <p th:utext="#{failed.error}"> Error: You cannot create a new course because you are not listed as a Teacher in Canvas.</p>
                <p th:utext="#{failed.info}"></p>
            </div>
            <div class="alert alert-error" th:if="${courseCreationError}">
                <p th:utext="#{partial.fail.course}">The whole thing failed!</p>
            </div>
            <div class="alert alert-error" th:if="${sectionCreationError}">
                <p th:utext="#{partial.fail.section}">Course was created (here's the ids!), but need an administrator to create a section and enroll you!</p>
                <p th:utext="#{partial.fail.course.name(${courseName})}">Course Name: IN INFO PROJECT MANAGEMENT 101</p>
                <p th:utext="#{partial.fail.course.id(${courseId})}">Canvas Course Id: 12345</p>
                <p th:utext="#{partial.fail.info}"></p>
            </div>
            <div class="alert alert-error" th:if="${userEnrollmentError}">
                <p th:utext="#{partial.fail.enrollment}">Course and section was created, but you were not enrolled!</p>
                <p th:utext="#{partial.fail.course.name(${courseName})}">Course Name: IN INFO PROJECT MANAGEMENT 101</p>
                <p th:utext="#{partial.fail.course.id(${courseId})}">Canvas Course Id: 12345</p>
                <p th:utext="#{partial.fail.info}"></p>
            </div>
        </div>

    </div>
</div>
</body>
</html>
